html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    background-color: #fff;
    height: 10vh;
    padding-left: 15px;
}

.testiing {
    background-color: black;
    color: white;
    height: 200px;
    width: 200px;
}
